%hideOnDesktop {
  @include respond-to(desktop) {
    display: none !important;
  }
} 
%hideOnTablet {
  @media only screen and (max-width: $TabletMaxWidth) and (min-width: $MobileMaxWidth + 1px) {
    display: none !important;
  }
}
%hideOnMobile {
  @include respond-to-max(tablet) {
    display: none !important;
  }
}

// image config
%imageSize {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;

  // @include respond-to(tablet) {
  //   padding-bottom: 56.25%;
  // }
  // @include respond-to(desktop) {
  //   padding-bottom: 56.25%;
  // }
}
%imageInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// background video config
%backgroundVideoSize {
  position: relative;
  padding-bottom: 78%;
  width: 100%;
  height: 0;
  // overflow: hidden;

  @include respond-to(tablet) {
    padding-bottom: 56.25%;
  }
  @include respond-to(desktop) {
    padding-bottom: 56.25%;
  }
}
%backgroundVideoInner {
  position: absolute;
  top: 0;
  left: -25%;
  width: 150%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// content CTA link
%useContentCTA {
  position: relative;
  display: block;
  font-weight: $fontWeightRegular;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 3vw;
  margin-bottom: 2vw;
  transition: 0.2s;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../statics/images/blue-line.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    top: 26px;
    width: 88px;
    height: 28px;

    @include respond-to(tablet) {
      top: 35px;
      width: 105px;
      height: 28px;
    }
    @include respond-to(desktop) {
      top: 35px;
      width: 105px;
      height: 28px;
    }
  }
}

// regular btn
%useButton {
  font-family: $fontFamilyBody;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid;
  display: inline-block;
  position: relative;
  padding: 11px 16px;
  transition: 0.2s;
  // regular atts
  background-color: transparent;
  color: $white;
  border-color: $white;
}
// alt btn
%useButtonAlt {
  @extend %useButton;
  color: $white;
  border-color: $tealBlue;
  background-color: $tealBlue;
}
