header#header-style-1 {
  z-index: 998;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  .torque-header-content-wrapper {
    @include useHeaderHeight(height, false);
    @include useHeaderPadding();
  
    .torque-header-logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;

      @include respond-to(tablet) {
        width: 40%;
      }

      a {
        width: 100%;

        div {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            max-width: 132px;

            @include respond-to(tablet) {
              max-width: 184px;
            }
            @include respond-to(desktop) {
              max-width: 376px;
            }
          }
        }
      }
    }
    
    .torque-header-burger-menu-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 16px;
      width: 50%;

      @include respond-to(tablet) {
        width: 60%;
      }

      @include respond-to(desktop) {
        display: none;
      }

      .torque-burger-menu {
        right: unset;
        top: unset;
        transform: unset;
        position: relative;
        z-index: 1000;

        .torque-burger-menu-line {
          background-color: $white;
        }
      }
    }

    .torque-header-menu-items-inline-wrapper {
      height: 100%;
      width: 60%;

      @include respond-to-max(desktop) {
        display: none;
      }

      .torque-menu-items-inline {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
      }
    }
  }

  .torque-header-menu-items-mobile {
    right: 0;
    left: unset;
    width: auto;
    z-index: 999;

    @include respond-to(desktop) {
      display: none;
    }

    .torque-menu-items-stacked {
      width: auto;
      box-sizing: border-box;
      background: $tealBlue;
      z-index: 98;
      padding: $bodyPadding6 $bodyPadding4;

      @include respond-to(tablet) {
        padding: $bodyPadding4 $bodyPadding4;
      }
      @include respond-to(desktop) {
        padding: $bodyPadding3;
      }

      .torque-menu-item-wrapper  {
        text-align: right;
        box-sizing: border-box;
        padding: $bodyPadding2 0;

        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }

        a {
          display: block;
          padding: 0;

          .torque-menu-item {
            font-weight: $fontWeightRegular;
            text-transform: uppercase;
            letter-spacing: $letterSpacing1;
            color: $white;
            padding: 0;
            font-size: 1.39em;

            @include respond-to(tablet) {
              font-size: 1.29em;
            }

            &.active {
              font-weight: $fontWeightBold;
            }
          }
        }
      }
    }
  }
}

body {
  /* fixed header on scroll (logic to add .is-scrolled located in header-bar.js) */
  // &.is-scrolled {}
  &.is-fixed {
    header#header-style-1 {
      background-color: $mediumGrey90pc !important;
  
      .torque-header-content-wrapper {
        @include useHeaderHeight(height, false, true); // NB last param for isFixed
        @include useHeaderPadding(true); // NB last param for isFixed
      }
    }
  }

  /* menu overlay */
  .menu-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    opacity: 0;
    background-color: $black15pc;
    transition: 0.2s;

    z-index: 997;

    @include respond-to(desktop) {
      display: none;
    }
  }
}