// Pass true or false for $removeHeaderHeight to remove or add height
@mixin useHeaderHeight($property: height, $removeHeaderHeight: false, $isFixed: false) {

  // add header height, and not fixed
  $mobileHeight: 95px;
  $tabletHeight: 120px;
  $desktopHeight: 180px;

  // otherwise...
  @if $removeHeaderHeight == true {
    @if $isFixed == true {
      $mobileHeight: -75px;
      $tabletHeight: -100px;
      $desktopHeight: -150px;
    }
    @else {
      $mobileHeight: -95px;
      $tabletHeight: -120px;
      $desktopHeight: -180px;
    }
  }
  @else {
    @if $isFixed == true {
      $mobileHeight: 75px;
      $tabletHeight: 100px;
      $desktopHeight: 150px;
    }
  }

  #{$property}: $mobileHeight;

  @include respond-to(tablet) {
    #{$property}: $tabletHeight;
  }

  @include respond-to(desktop) {
    #{$property}: $desktopHeight;
  }
}

@mixin useHeaderPadding($isFixed: false) {
  $mobilePadding: 5px;
  // $tabletPadding: 10px;
  $desktopPadding: 30px;

  @if $isFixed == true {
    $desktopPadding: 15px;
  }

  box-sizing: border-box;
  padding: {
    top: $mobilePadding;
    bottom: $mobilePadding;
  }

  // @include respond-to(tablet) {
  //   padding: {
  //     top: $tabletPadding;
  //     bottom: $tabletPadding;
  //   }
  // }

  @include respond-to(desktop) {
    padding: {
      top: $desktopPadding;
      bottom: $desktopPadding;
    }
  }
}
