.cta-banner-container {
  position: relative;
  width: 100%;
  background: $darkGrey;

  .row-container {
    width: 100%;
    
    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      box-sizing: border-box;
      padding: $bodyPadding3 $bodyPadding3;
      text-align: center;

      h2 {
        max-width: 800px;
        margin: 0 auto;
      }

      .cta-wrapper {
        display: block;
        margin-left: auto;
        margin-right: auto;
  
        .cta-btn {
          @extend %useContentCTA;
        }
      }
    }

  }
}