.floorplans-container {
  position: relative;
  width: 100%;

  &.light-grey {
    background: $lightGrey;
  }
  &.medium-grey {
    background: $mediumGrey;
  }
  &.dark-grey {
    background: $darkGrey;
  }

  .row-container {
    width: 100%;

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;

      box-sizing: border-box;
      padding: $bodyPadding3 0;

      text-align: center;

      margin: 0 auto;
      max-width: 340px;

      @include respond-to(tablet) {
        max-width: 632px;
      }
      @include respond-to(desktop) {
        max-width: 1176px;
      }

      .torque-filtered-loop-react-entry {
        width: 100%;
        clear: right;

        .torque-filtered-loop-filters {
          margin-bottom: 30px;
          margin-left: 12.5px;
          margin-right: 12.5px;

          @include respond-to(tablet) {
            margin-bottom: 53px;
          }
          @include respond-to(desktop) {
            margin-bottom: 50px;
            display: flex;
          }

          .torque-filtered-loop-filter-button {
            @extend %useButton;
            @extend %useButtonHover;
            font-size: 16px;
            padding: 10px 15px;
            width: 50%;
            max-width: 300px;

            @include respond-to(tablet) {
              font-size: 16px;
            }

            &.active {
              @extend %useButtonAlt;
              font-size: 16px;
              padding: 10px 15px;

              @include respond-to(tablet) {
                font-size: 16px;
              }
            }
            &:first-of-type {
              width: 100%;
              max-width: unset;
            }

            @include respond-to(tablet) {
              width: 25%;
            }
            @include respond-to(desktop) {
              width: unset;
              padding: 12.5px 10px;
              flex-grow: 1;

              &.active {
                padding: 12.5px 10px;
              }
              &:first-of-type {
                width: unset;
                max-width: 300px;
              }
            }
          }
        }

        .posts-wrapper,
        .categories-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          box-sizing: border-box;
          flex-wrap: wrap;
          padding: $bodyPadding1 0 0;
          text-align: center;

          @include respond-to(tablet) {
            // left-align last row on tablet and desktop
            &:after {
              content: "";
              flex: auto;
            }
          }

          @include respond-to-custom(1330px) {
            margin-left: -6vw;
            margin-right: -6vw;
          }

          .loop-post,
          .loop-cat {
            border: 2px solid $white;
            max-width: 375px;
            box-sizing: border-box;

            width: 100%;
            max-width: 243px;
            margin: 0 12.5px 45px;

            @include respond-to(tablet) {
              max-width: calc(50% - 25px);
            }
            @include respond-to(desktop) {
              // max-width: calc(33.33% - 25px);
              @if(&, '&.categories-wrapper') {
                max-width: calc(25% - 25px);
              }
            }

            .content-wrapper {
              h4 {
                background-color: $white;
                color: $mediumGrey;
                font-size: 22px;
                line-height: 30px;
                text-transform: uppercase;
                font-weight: normal;
                margin: 0;
                padding: 10px 5px;
              }

              .featured-image-wrapper {
                @extend %imageSize;

                .featured-image {
                  @extend %imageInner;
                }
              }

              .meta-wrapper {
                padding: 13px 5px;
              }

              .download-wrapper {
                @extend %useButton;
                @extend %useButtonHoverAlt;
                width: 100%;
                box-sizing: border-box;
                padding: 10px 5px;
                border-bottom: 0;
                border-left: 0;
                border-right: 0;

                @include respond-to(tablet) {
                  font-size: 1em;
                }
                @include respond-to(desktop) {
                  font-size: 0.89em;
                }
              }
            }
          }

          .loop-cat {
            @include respond-to(tablet) {
              max-width: calc(50% - 25px);
            }
            @include respond-to(desktop) {
              max-width: calc(50% - 25px);
            }
          }
        }

        .categories-wrapper {
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .download-all-fps-wrapper {
        width: 100%;
        text-align: center;

        @include respond-to(desktop) {
          margin: 0 auto 0 12.5px;
        }

        a {
          @extend %useButton;
          @extend %useButtonHoverAlt;
          box-sizing: border-box;
          padding: 10px 5px;

          width: 100%;
          max-width: 243px;
          margin: 0 auto;

          @include respond-to(tablet) {
            max-width: 300px;
            font-size: 1em;
          }
          @include respond-to(desktop) {
            max-width: calc(33.33% - 25px);
            font-size: 0.89em;
          }
        }
      }
    }
  }
}
