.map-container {
  position: relative;
  width: 100%;

  &.light-grey {
    background: $lightGrey;
  }
  &.medium-grey {
    background: $mediumGrey;
  }
  &.dark-grey {
    background: $darkGrey;
  }

  .row-container {
    width: 100%;
    
    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      box-sizing: border-box;
      text-align: center;

      padding: $bodyPadding3 0;

      @include respond-to(tablet) {
        padding: $bodyPadding3 $bodyPadding3;
      }
      @include respond-to(desktop) {
        padding: $bodyPadding3 $bodyPadding3;
      }
      
      .map-wrapper {
        width: 100%;

        // filters
        .torque-map-pois {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin-bottom: 19px;
          padding: 0 $bodyPadding3;

          @include respond-to(tablet) {
            margin-bottom: 26px;
          }
          @include respond-to(desktop) {
            margin-bottom: 14px;
          }

          .torque-map-poi {
            button {
              @extend %useButton;
              font-size: 13px;
              margin: 0 3.5px 7px;
              padding: 3.5px 20px;

              @include respond-to(tablet) {
                font-size: 16px;
                margin: 0 5.5px 11px;
                padding: 8.5px 20px;
              }
              @include respond-to(desktop) {
                font-size: 20px;
                margin: 0 12.5px 25px;
                padding: 19.5px 40px;
              }
            }
            
            &.active {
              button {
                @extend %useButtonAlt;
                padding: 3.5px 20px;
                background-color: $greyishTeal;
                border-color: $greyishTeal;

                @include respond-to(tablet) {
                  padding: 8.5px 20px;
                }
                @include respond-to(desktop) {
                  padding: 19.5px 40px;
                }
              }
            }
          }
        }

        // map
        .torque-map-container {
          padding-top: 80%; // tall view
      
          @include respond-to(tablet) {
            padding-top: 68%; // medium view
          }
          @include respond-to(desktop) {
            padding-top: 48%; // wide view
          }

          .torque-map-infowindow {
            h3 {
              font-size: 1.3em;
            }
          }
        }

        // filter items
        .torque-map-pois-list {
          display: flex;
          flex-direction: column;
          padding: $bodyPadding2 $bodyPadding4;

          @include respond-to(tablet) {
            display: block;
            columns: 2;
            column-gap: $bodyPadding3;
            padding: $bodyPadding2 0;
          }
          @include respond-to(desktop) {
            padding: $bodyPadding2 $bodyPadding4;
          }

          .torque-map-pois-list-item {
            display: flex;
            flex-direction: row;
            padding-bottom: 3px;

              .torque-map-pois-list-item-name {
                flex: 3;
                text-align: left;
              }
              .torque-map-pois-list-item-distance {
                flex: 1;
                text-align: right;
              }
          }
        }
      }
    }
  }
}