footer {
  display: flex;

  .footer-container {
    width: 100%;
    box-sizing: border-box;
    padding: $bodyPadding2 $bodyPadding3;

    @include respond-to(desktop) {
      display: flex;
    }

    .footer-block-one {
      width: 100%;
      text-align: center;

      @include respond-to(desktop) {
        flex: 2;
        width: auto;
        text-align: left;
      }

      .footer-logo-container {
        margin-bottom: 34px;
      }

      .footer-container-inner {

        @include respond-to(desktop) {
          display: flex;
        }
        
        .footer-inner-col {
          margin-bottom: $bodyPadding3;
          width: 100%;

          @include respond-to(desktop) {
            flex: 1;
            width: auto;
            margin-bottom: 0;
          }

          // &.footer-col-one {}
          // &.footer-col-two {}
          &.footer-col-three {
            flex: 0.6;
          }
        }
        
      }
    }

    .footer-block-two {
      width: 100%;
      text-align: center;

      @include respond-to(desktop) {
        flex: 1;
        width: auto;
        align-self: center;
      }
    }
  }
}