footer {
  display: flex;
  background-color: $lightGrey;

  .footer-container {
    width: 100%;
    box-sizing: border-box;
    padding: $bodyPadding4 $bodyPadding3;

    @include respond-to(tablet) {
      padding: $bodyPadding3 $bodyPadding3;
    }
    @include respond-to(desktop) {
      padding: $bodyPadding2 $bodyPadding3;
    }

    @include respond-to(desktop) {
      display: flex;
    }

    .footer-block-one {
      width: 100%;
      text-align: center;

      @include respond-to(desktop) {
        flex: 2;
        width: auto;
        text-align: left;
      }

      .footer-logo-container {
        margin: 0 auto 34px;
        max-width: 376px;

        @include respond-to(desktop) {
          margin: 0 auto 34px 0;
        }
        
        a {
          display: block;

          img {
            width: 100%;
          }
        }
      }

      .footer-container-inner {

        @include respond-to(desktop) {
          display: flex;
        }
        
        .footer-inner-col {
          margin-bottom: $bodyPadding3;
          width: 100%;

          @include respond-to(desktop) {
            flex: 1;
            width: auto;
            margin-bottom: 0;
          }

          &.footer-col-one {
            .footer-cta {
              @extend %useButton;
              margin-top: 1.5em;

              @include respond-to(desktop) {
                font-size: 16px;
                padding: 10px 25px;
              }
            }
          }
          &.footer-col-two {
            .contact-info {
              &:not(:last-child) {
                margin-bottom: 1em;
              }
            }
          }
          &.footer-col-three {
            flex: 0.6;
          }
        }
      }
    }

    .footer-block-two {
      width: 100%;
      text-align: center;

      @include respond-to(desktop) {
        flex: 1;
        width: auto;
        align-self: center;
      }
    }
  }
}