.page-hero {
  position: relative;
  width: 100%;

  // image
  .type-image {
    @extend %backgroundVideoSize; // intentional, for a larger hero media to cover area
    .hero-image,
    .hero-mask {
      @extend %imageInner;
    }
  }
  // video
  .type-video-external,
  .type-video-internal {
    @extend %backgroundVideoSize;
    .hero-video {
      @extend %backgroundVideoInner;
    }
  }

  &:not(.no-media) {
    @include useHeaderHeight(margin-top, true);

    .hero-gradient {
      height: 50%;
      mix-blend-mode: multiply;
      background-image: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0));
      position: absolute;
      z-index: 9;
      width: 100%;
      opacity: 0.51;
      z-index: 1;
    }

    .hero-title {
      position: absolute;
      top: $bodyPadding6;
      right: $bodyPadding4;
      margin-top: $bodyPadding2;
      text-align: right;
      max-width: 337px;
      z-index: 1;

      @include respond-to(tablet) {
        // adds the header height value to the selected attribute ('top' in this case)
        @include useHeaderHeight(top);
        margin-top: $bodyPadding1;
        max-width: 511px;
      }
      @include respond-to(desktop) {
        max-width: 974px;
      }
    }
  }
  &.no-media {
    .hero-title {
      position: relative;
      margin-left: auto;
      margin-right: $bodyPadding4;
      margin-top: $bodyPadding1;
      text-align: right;
      max-width: 974px;
    }
  }
}
