.page-hero {
  position: relative;

  // image
  .type-image {
    @extend %backgroundVideoSize; // intentional, for a larger hero media to cover area
    .hero-image,
    .hero-mask {
      @extend %imageInner;
    }
  }
  // video
  .type-video-external,
  .type-video-internal {
    @extend %backgroundVideoSize;
    .hero-video {
      @extend %backgroundVideoInner;
    }
  }

  &:not(.no-media) {
    @include useHeaderHeight(margin-top, true);

    .hero-title {
      position: absolute;
      // adds the header height value to the selected attribute ('top' in this case)
      @include useHeaderHeight(top);
      right: $bodyPadding4;
      margin-top: $bodyPadding1;
      text-align: right;
      max-width: 337px;

      @include respond-to(tablet) {
        max-width: 511px;
      }
      @include respond-to(desktop) {
        max-width: 974px;
      }
    }
  }
  &.no-media {
    .hero-title {
      position: relative;
      margin-left: auto;
      margin-right: $bodyPadding4;
      margin-top: $bodyPadding1;
      text-align: right;
      max-width: 974px;
    }
  }
}
