.page-hero {
  position: relative;

  @include useHeaderHeight(margin-top, true);

  .type-image,
  .type-video-external,
  .type-video-internal
  {
    @extend %imageSize;

    .hero-image,
    .hero-mask
    {
      @extend %imageInner;
    }
    .hero-video
    {
      @extend %iframeVideoInner;
    }
  }

  .hero-title {
    position: absolute;
    // adds the header height value to the selected attribute ('top' in this case)
    @include useHeaderHeight(top);
    right: $bodyPadding4;
    margin-top: $bodyPadding1;
    text-align: right;
    max-width: 974px;
  }
}
